Source: stsbl-iserv-usrmerge
Section: misc
Priority: optional
Maintainer: Stadtteilschule Blankenese <repository@stsbl.de>
Build-Depends: debhelper-compat (= 13), dh-sequence-iserv, dh-sequence-stsbl
Standards-Version: 4.5.0

Package: stsbl-iserv-usrmerge
Architecture: all
Depends: iserv-update, usrmerge, ${misc:Depends}, ${perl:Depends}
Description: usrmerge-Konvertierung für IServ
 Führt die usrmerge-Konvertierung (https://wiki.debian.org/UsrMerge) für ein
 IServ-System durch.
Tag: suite::iserv
