Source: stsbl-iserv-usrmerge
Section: misc
Priority: optional
Maintainer: Stadtteilschule Blankenese <repository@stsbl.de>
Build-Depends: debhelper (>= 10)
Build-Depends-Indep: iserv3-dev
Standards-Version: 4.4.1

Package: stsbl-iserv-usrmerge
Architecture: all
Depends: ${misc:Depends},
  ${perl:Depends},
  iserv-update,
  usrmerge,
Description: usrmerge-Konvertierung für IServ
 Führt die usrmerge-Konvertierung (https://wiki.debian.org/UsrMerge) für ein
 IServ-System durch.
Tag: suite::iserv
